PUBLIC_URL=http://localhost:3000/
TO_EMAIL=testing0001@gmail.com
EMAIL_JS_SERVICE_ID=test1
EMAIL_JS_TEMPLATE_ID=test2
EMAIL_JS_PUBLIC_KEY=test3
EMAIL_TO_SHOW=job@myjobdone.co.uk
TELEPHONE_NUMBER="+44 759 6154305"
ADDRESS="160 Kemp House, City Road EC1V 2NX"
