# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache

# JetBrains related
/.idea/deployment.xml
/.idea/webServers.xml

# SASS related
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# env files
/.env
/.env.development
/.env.staging
/.env.production

# Custom rules
.idea
*.pdf
*.txt
!/src/robots.txt
test*.*
*.zip
/src/assets/fonts/**/*.html
/src/assets/fonts/**/*.css
*.xcf
/Logo
/Pictures Job
/favicon.png
/Group 1000001820.jpg
/Group 1000001820.svg
/Group-1000001820.ico
/emailTempl/images
/emailTempl/new-email*
/emailTempl/emailjs-default-templ.html
/src/assets/images/favicon/site.webmanifest
