@font-face {
  font-family: 'RedditSans';
  font-style: normal;
  font-weight: 400;
  src: local('RedditSans Regular'), url('../assets/fonts/RedditSans-Regular.woff') format('woff');
}


@font-face {
  font-family: 'RedditSans';
  font-style: italic;
  font-weight: 400;
  src: local('RedditSans Italic'), url('../assets/fonts/RedditSans-Italic.woff') format('woff');
}


//@font-face {
//  font-family: 'RedditSans';
//  font-style: normal;
//  font-weight: 100;
//  src: local('RedditSans Thin'), url('../assets/fonts/RedditSans-Thin.woff') format('woff');
//}
//
//
//@font-face {
//  font-family: 'RedditSans';
//  font-style: italic;
//  font-weight: 100;
//  src: local('RedditSans Thin Italic'), url('../assets/fonts/RedditSans-ThinItalic.woff') format('woff');
//}
//
//
//@font-face {
//  font-family: 'RedditSans';
//  font-style: normal;
//  font-weight: 200;
//  src: local('RedditSans ExtraLight'), url('../assets/fonts/RedditSans-ExtraLight.woff') format('woff');
//}
//
//
//@font-face {
//  font-family: 'RedditSans';
//  font-style: italic;
//  font-weight: 200;
//  src: local('RedditSans ExtraLight Italic'), url('../assets/fonts/RedditSans-ExtraLightItalic.woff') format('woff');
//}


@font-face {
  font-family: 'RedditSans';
  font-style: normal;
  font-weight: 300;
  src: local('RedditSans Light'), url('../assets/fonts/RedditSans-Light.woff') format('woff');
}


@font-face {
  font-family: 'RedditSans';
  font-style: italic;
  font-weight: 300;
  src: local('RedditSans Light Italic'), url('../assets/fonts/RedditSans-LightItalic.woff') format('woff');
}


//@font-face {
//  font-family: 'RedditSans';
//  font-style: normal;
//  font-weight: 500;
//  src: local('RedditSans Medium'), url('../assets/fonts/RedditSans-Medium.woff') format('woff');
//}
//
//
//@font-face {
//  font-family: 'RedditSans';
//  font-style: italic;
//  font-weight: 500;
//  src: local('RedditSans Medium Italic'), url('../assets/fonts/RedditSans-MediumItalic.woff') format('woff');
//}


@font-face {
  font-family: 'RedditSans';
  font-style: normal;
  font-weight: 600;
  src: local('RedditSans SemiBold'), url('../assets/fonts/RedditSans-SemiBold.woff') format('woff');
}


@font-face {
  font-family: 'RedditSans';
  font-style: italic;
  font-weight: 600;
  src: local('RedditSans SemiBold Italic'), url('../assets/fonts/RedditSans-SemiBoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'RedditSans';
  font-style: normal;
  font-weight: 700;
  src: local('RedditSans Bold'), url('../assets/fonts/RedditSans-Bold.woff') format('woff');
}


@font-face {
  font-family: 'RedditSans';
  font-style: italic;
  font-weight: 700;
  src: local('RedditSans Bold Italic'), url('../assets/fonts/RedditSans-BoldItalic.woff') format('woff');
}


@font-face {
  font-family: 'RedditSans';
  font-style: normal;
  font-weight: 800;
  src: local('RedditSans ExtraBold'), url('../assets/fonts/RedditSans-ExtraBold.woff') format('woff');
}


@font-face {
  font-family: 'RedditSans';
  font-style: italic;
  font-weight: 800;
  src: local('RedditSans ExtraBold Italic'), url('../assets/fonts/RedditSans-ExtraBoldItalic.woff') format('woff');
}


//@font-face {
//  font-family: 'RedditSans';
//  font-style: normal;
//  font-weight: 900;
//  src: local('RedditSans Black'), url('../assets/fonts/RedditSans-Black.woff') format('woff');
//}
//
//
//@font-face {
//  font-family: 'RedditSans';
//  font-style: italic;
//  font-weight: 900;
//  src: local('RedditSans Black Italic'), url('../assets/fonts/RedditSans-BlackItalic.woff') format('woff');
//}
