@import "base";

:root {
  --bs-body-font-family: 'Montserrat', sans-serif;
  --box-shadow-style-1: 0 0 0 8px $light-green-2;
  --box-shadow-style-2: rgba(0, 0, 0, 0.35) 2.95px 2.95px 2.6px;
  --box-shadow-style-3: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
  --max-page-width: 1440px;
}

.bg-dev {
  //background-color: #F8F9FA !important;
  //background-color: #E6E6E6 !important;
}
.outer-container {
  max-width: var(--max-page-width);
  //@extend .invisible;

  @extend .pad-x-1rem;
  @extend .pad-x-sm-1\.5rem;
  @extend .pad-x-lg-5\.875rem;
}
body.calculate-all .outer-container {
  @extend .pad-x-lg-1\.875rem;
  @extend .pad-x-xl-4\.875rem;
  @extend .pad-x-xxl-5\.875rem;
}
.outer-container.content-wrapper {
  @extend .pt-3;
}

.external-outer-container {
  @extend .container-fluid;
  @extend .pad-x-1rem;
  @extend .pad-x-sm-1\.5rem;
  @extend .pad-x-lg-4\.875rem;
  max-width: 100% !important;
  margin-inline: 0 !important;
}

@media (min-width: 992px) and (max-width: 1279.98px) {
  .top-wrapper > .hero-section > .hero-content h1 {
    font-size: 44px;
  }
  .top-wrapper > .hero-section > .hero-content ul {
    font-size: 23px;
  }
}

@media (min-width: 992px) and (max-width: 1099.98px) {
  .top-wrapper > .hero-section {
    padding-bottom: 2rem;
  }
}

.job-grid:last-child {
  margin-right: auto;
}
.job-grid .job-card {
  //min-width: 220px;
  //max-width: 265px;
  //max-width: 335px;
  flex: 1 0 100%;
  min-width: 100%;
}
.job-grid .job-card-extra {
  min-width: 32.5%;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
@media screen and (min-width: 500px) and (max-width: 767.98px) {
  .job-grid .job-card {
    flex: 0 1 100%;
    min-width: 48%;
    max-width: 48%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1351.98px) {
  .job-grid .job-card {
    flex: 1 0 250px;
    min-width: 250px;
    max-width: none;
  }
}
@media screen and ( min-width: 1352px) {
  .job-grid .job-card {
    flex: 1 0 278px;
    min-width: 278px;
    max-width: none;
  }
}

.footer-section {
  @extend .container-fluid;
  @extend .pad-x-1rem;
  @extend .pad-x-sm-1\.5rem;
  @extend .pad-x-md-2\.5rem;
  @extend .pad-x-xl-5rem;
  max-width: 100% !important;
  margin-inline: 0 !important;
}
.footer-section .list-group-item {
  @extend .ps-0;
  color: inherit !important;
}

.content-wrapper {
  background-color: white;
}


.is-circular {
  text-align: center;
  border-radius: 50%;
}

.btn-light-green-1 {
  @extend .rounded;
  @extend .fnt-4;
  @extend .fw-medium;
  border-radius: 0.5rem !important;
  color: white;
  line-height: 24px;
  padding-block: 0.3rem !important;
  padding-inline: 0.5rem !important;
}
@include media-breakpoint-up(sm) {
  .btn-light-green-1 {
    padding-block: 0.6rem !important;
    padding-inline: 0.95rem !important;
  }
}
@include media-breakpoint-up(md) {
  .btn-light-green-1 {
    padding-block: 0.375rem !important;
    padding-inline: 1.65rem !important;
  }
}

.btn-light-green-1.btn-large {
  @extend .btn-light-green-1;
  border-radius: 0.75rem !important;
  padding-block: 0.9rem !important;
  padding-inline: 1.5rem !important;
}
@include media-breakpoint-up(md) {
  .btn-light-green-1.btn-large {
    padding-block: 1.25rem !important;
    padding-inline: 3rem !important;
  }
}
.btn-light-green-1.btn-medium {
  @extend .btn-light-green-1;
  border-radius: 0.75rem !important;
  padding-block: 1.25rem !important;
  padding-inline: 2rem !important;
}

.service-card {
  @extend .w-100;
  @extend .wpct-md-47;
  @extend .wpct-lg-31;
  @extend .wpct-xl-23;
  @extend .p-3;
  @extend .pad-lg-0\.875rem;
  @extend .p-xl-4;
  @extend .bg-light-green-2;
  @extend .overflow-hidden;
  @extend .rounded;
  @extend .rounded-4;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .align-items-center;
  @extend .gap-3;
}
// special media query
@media (min-width: 1200px) and (max-width: 1269.98px) {
  .service-card {
    padding: 1rem !important;
  }
  .service-card-title {
    padding-inline: 2rem !important;
  }
}
.service-card:hover {
  @extend .bg-light-green-1;
  @extend .text-light;
  box-shadow: var(--box-shadow-style-2);
}
.service-card:hover > .services-icon-wrapper {
  @extend .bg-light;
}
.service-card:hover > .services-icon-wrapper > .service-icon {
  filter: invert(64%) sepia(57%) saturate(549%) hue-rotate(61deg) brightness(93%) contrast(88%);
}
.service-card-title {
  @extend .fw-bold;
  @extend .fnt-4;
  @extend .text-center;
}

.custom-popover {
  transform: none !important;
  top: 20rem !important;
  left: 1.5rem !important;
  z-index: 1 !important;
}
@include media-breakpoint-up(sm) {
  .custom-popover {
    top: 27rem !important;
  }
}
@include media-breakpoint-up(md) {
  .custom-popover {
    top: 33rem !important;
  }
}
@include media-breakpoint-up(lg) {
  .custom-popover {
    top: 2.8rem !important;
    left: 1.25rem !important;
  }
}
@include media-breakpoint-up(xl) {
  .custom-popover {
    left: -15rem !important;
  }
}

.custom-popover > .popover-header {
  display: none;
}
//.custom-popover > .popover-arrow {
//  display: none;
//}

.ring1 {
  background-color: $light-green-1;
  box-shadow: var(--box-shadow-style-1);
}

.accordion {
  --bs-accordion-active-bg: #ffffff;
  --bs-accordion-active-color: #000000;
  --bs-accordion-btn-focus-box-shadow: none;
}
.accordion-item-style-1 {
  @extend .mb-3;
}
.accordion-item-style-1:last-child {
  @extend .mb-0;
}
.accordion-button::after {
  background-image: url("../assets/images/icons/PlusSign.svg");
  transform: scale(1.75);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../assets/images/icons/MinusSign.svg");
  transform: scale(1.75);
}

.job-card {
  //@extend .wpct-47;
  //@extend .wpct-lg-31;
  //@extend .max-wpx-lg-265;
  //@extend .max-wpx-xxl-294;
  @extend .px-2;
  @extend .px-sm-4;
  @extend .py-3;
  @extend .bg-light-green-2;
  @extend .rounded;
  @extend .rounded-4;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-start;
  @extend .align-items-start;
  @extend .row-gap-2;
  @extend .row-gap-xxl-3;
  @extend .border-0;
  @extend .border-danger;
}
.job-title {
  @extend .fw-bold;
  @extend .mb-0;
}
.job-description {
  @extend .fw-medium;
  @extend .mb-0;
}
a.calculate-btn {
  @extend .btn;
  @extend .btn-light-green-1;
  @extend .mt-auto;
}
a.calculate-btn > span {
  @extend .fnt-5;
  @extend .fw-semibold;
}
a.cta-button:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
a.calculate-btn:hover, a.cta-button:hover {
  opacity: 0.85;
  //box-shadow: 8px 8px 10px -7px rgba(0,0,0,0.75);
  box-shadow: var(--box-shadow-style-2);
}

.approach-step-title {
  @extend .fnt-3;
  @extend .fw-bold;
}

.list-group-footer .list-group-item {
  @extend .mb-0;
  //@extend .mb-sm-3;
  @extend .pb-0;
  @extend .pb-sm-1;
  @extend .pb-lg-2;
}

// calculate page hide-show logic

.d-none-not-imp {
  //display: none;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
  /* Optional: Add additional styles to convey disabled state */
  background-color: #f2f2f2;
  color: #999;
  cursor: not-allowed;
}

.float-none {
  float: none;
}

.clear-none {
  clear: none;
}

.clear-start {
  clear: left;
}

.clear-end {
  clear: right;
}

.d-flow-root {
  display: flow-root;
}

//.list-group .list-group-item .form-check.form-check-inline {
//  margin-right: 0 !important;
//  padding-left: 0 !important;
//  padding-right: 0 !important;
//}

.form-check-label {
  cursor: pointer;
}
.form-check.form-check-inline .form-check-label {
  margin-top: 0.13rem;
  //margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .form-check.form-check-inline .form-check-label {
    margin-top: 0.18rem;
  }
}

//.form-check.form-check-inline input.form-check-input {
//  margin-left: 0;
//}

//.form-check.form-check-inline:hover input.form-check-input {
//  background-color: yellow;
//}
//.form-check.form-check-inline:hover input.form-check-input:checked {
//  --bs-form-check-bg-image: url("../assets/images/icons/check-mark-hover.svg");
//}
//.list-group-item:hover {
//  //background-color: lightgoldenrodyellow;
//  //background-color: ivory;
//  background-color: #FFFFFA;
//}

.quote-page-card.card {
  box-shadow: var(--box-shadow-style-3);
}

.quantities-container .quote-page-card {
  @extend .mb-8;
  height: max-content;
}

.form-check-input:checked {
  background-color: $light-green-1;
  border-color: $light-green-1;
}
.form-check-input:focus {
  box-shadow: none;
}

input[type=checkbox] {
  accent-color: green;
}

.not-all-types > .job-types-container,
.not-all-types:not(.bathroom-job) > .bathroom-types-container,
.not-all-types:not(.kitchen-job) > .kitchen-types-container,
.not-all-types:not(.wall-job) > .walls-types-container,
.not-all-types:not(.floor-job) > .floors-types-container,
.not-all-types:not(.ceiling-job) > .ceiling-types-container,
.not-all-types:not(.extension-job) > .extension-types-container,
.not-all-types:not(.loft-conver-job) > .loft-types-container
{
  display: none;
}

.not-all-types.wall-job > .walls-types-container,
.not-all-types.floor-job > .floors-types-container,
.not-all-types.ceiling-job > .ceiling-types-container,
.not-all-types.bathroom-job > .bathroom-types-container,
.not-all-types.kitchen-job > .kitchen-types-container,
.not-all-types.extension-job > .extension-types-container,
.not-all-types.loft-conver-job > .loft-types-container,
//.not-all-types.full-house-job > .full-types-container,
.not-all-types > .duration-selection-container,
.not-all-types > .data-submit-container
{
  display: block;
}

.not-all-types.wall-job > .walls-types-container .list-group,
.not-all-types.floor-job > .floors-types-container .list-group,
.not-all-types.ceiling-job > .ceiling-types-container .list-group,
.not-all-types.bathroom-job > .bathroom-types-container .list-group,
.not-all-types.kitchen-job > .kitchen-types-container .list-group,
.not-all-types.extension-job > .extension-types-container .list-group,
.not-all-types.loft-conver-job > .loft-types-container .list-group
{
  @extend .flex-row;
  @extend .justify-content-between;
  //@extend .align-items-center;
  @extend .align-items-stretch;
  @extend .flex-wrap;
  @extend .gap-1;
}

.not-all-types.wall-job > .walls-types-container .list-group .list-group-item,
.not-all-types.floor-job > .floors-types-container .list-group .list-group-item,
.not-all-types.ceiling-job > .ceiling-types-container .list-group .list-group-item,
.not-all-types.bathroom-job > .bathroom-types-container .list-group .list-group-item,
.not-all-types.kitchen-job > .kitchen-types-container .list-group .list-group-item,
.not-all-types.extension-job > .extension-types-container .list-group .list-group-item,
.not-all-types.loft-conver-job > .loft-types-container .list-group .list-group-item
{
  @extend .w-100;
  @extend .wpct-sm-47;
  @extend .wpct-md-30;
  @extend .px-1;
}

.not-all-types.wall-job > .walls-types-container,
.not-all-types.floor-job > .floors-types-container,
.not-all-types.ceiling-job > .ceiling-types-container,
.not-all-types.bathroom-job > .bathroom-types-container,
.not-all-types.kitchen-job > .kitchen-types-container,
.not-all-types.extension-job > .extension-types-container,
.not-all-types.loft-conver-job > .loft-types-container,
.not-all-types.full-house-job > .full-types-container
{
  width: 100% !important;
}

input[type=number] {
  border-radius: 4px;
  box-shadow: none !important;

  -webkit-appearance: none !important;
  appearance: none !important;
  line-height: normal !important;
}
input[type=number]:focus {
  //outline: $light-green-1 solid 1px;
  outline: none !important;
  box-shadow: none !important;

  -webkit-appearance: none;
  appearance: none;
  line-height: normal;
}
input[type=number]:focus-visible {
  //outline: $light-green-1 solid 1px;
  outline: none !important;
  box-shadow: none !important;

  -webkit-appearance: none;
  appearance: none;
  line-height: normal;
}

input[type=number]:disabled {
  cursor: not-allowed;
  background-color: #EBEBE4;
  color: $custom-black-1;
  //background-color: #ccc;
  //color: #666;
  opacity: 0.5;
}

.list-group .list-group-item, .list-item-container input, .list-item-container .form-check.form-check-inline > label > span, .list-item-container div.quantities-box > div div.lh-base {
  @extend .fnt-6;
  @extend .fnt-md-5;
}
.list-item-container .form-check.form-check-inline > label > span {
  font-weight: $headings-font-weight;
}
//.list-group .list-group-item .form-check.form-check-inline {
//  @extend .pad-x-1\.5rem;
//  @extend .pad-x-sm-0\.5rem;
//  @extend .pad-x-md-1rem;
//  @extend .pad-x-lg-1\.5rem;
//}

//.list-group.list-group-horiz {
//  //@extend .list-group-horizontal;
//  //@extend .list-group-flush;
//  @extend .flex-column;
//  @extend .flex-lg-row;
//  @extend .justify-content-lg-between;
//  @extend .align-items-lg-center;
//  @extend .flex-wrap;
//  @extend .gap-1;
//}

//.list-group.list-group-horiz .list-group-item {
//  @extend .w-100;
//  @extend .wpct-lg-48;
//  @extend .px-1;
//}
//.list-group.list-group-horiz .list-group-item:not(.has-no-quantity) .form-check.form-check-inline {
//  @extend .wpct-64;
//  @extend .wpct-sm-50;
//  @extend .wpct-lg-55;
//  @extend .wpct-xl-64;
//  @extend .wpct-xxl-71;
//}
//.list-group.list-group-horiz .list-group-item .d-inline-block {
//  //@extend .wpx-67;
//  @extend .min-wpx-72;
//}

.list-group.list-group-horizont,
.list-group.list-group-horiz,
.list-group.list-group-vert {
  @extend .list-group-flush;
  @extend .gap-2;
}

//.list-group.list-group-horizont {
//  @extend .list-group-horizontal;
//  //@extend .list-group-flush;
//  //@extend .flex-row;
//  //@extend .justify-content-between;
//  //@extend .align-items-center;
//  //@extend .flex-wrap;
//  //@extend .gap-1;
//}

.list-group.list-group-horizont .list-group-item,
.list-group.list-group-horiz .list-group-item,
.list-group.list-group-vert .list-group-item {
  //@extend .list-group-horizontal;
  //@extend .list-group-flush;
  @extend .flex-fill;
  @extend .d-inline-flex;
  @extend .flex-row;
  @extend .justify-content-between;
  @extend .border;
  //@extend .border-secondary-subtle;
  @extend .rounded;
  @extend .rounded-2;
  @extend .w-100;
  //@extend .px-1;
  border-color: #dee2e6 !important;
  //border-color: #d3e6d2 !important;
}
.list-group.list-group-horizont .list-group-item {
  @extend .wpct-sm-48;
}
@include media-breakpoint-up(lg) {
  .list-group.list-group-horizont .list-group-item {
    max-width: 50%;
  }
}
@include media-breakpoint-up(xl) {
  .list-group.list-group-horizont .list-group-item {
    max-width: 33%;
  }
}

//.list-group.list-group-horizont .list-group-item input[type=number] {
//  padding-left: 0.25rem;
//}

.list-group.list-group-horizont .list-group-item .form-check.form-check-inline,
.list-group.list-group-horizont .list-group-item .d-inline-block,
.list-group.list-group-horiz .list-group-item .form-check.form-check-inline,
.list-group.list-group-horiz .list-group-item .d-inline-block,
.list-group.list-group-vert .list-group-item .form-check.form-check-inline,
.list-group.list-group-vert .list-group-item .d-inline-block {
  @extend .h-max;
  @extend .my-auto;
}

.list-group.list-group-horizont .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-horiz .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-vert .list-group-item:not(.has-no-quantity) .form-check.form-check-inline {
  //@extend .wpct-67;
  @extend .wpct-64;
}

.list-group.list-group-horizont .list-group-item .d-inline-block,
.list-group.list-group-horiz .list-group-item .d-inline-block,
.list-group.list-group-vert .list-group-item .d-inline-block {
  //@extend .wpct-30;
  @extend .min-wpx-72;
}

.list-group.list-group-horizont.has-sqm-units .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-horiz.has-sqm-units .list-group-item:not(.has-no-quantity) .form-check.form-check-inline,
.list-group.list-group-vert.has-sqm-units .list-group-item:not(.has-no-quantity) .form-check.form-check-inline {
  @extend .wpct-64;
  @extend .wpct-sm-50;
  @extend .wpct-lg-55;
  @extend .wpct-xl-64;
  @extend .wpct-xxl-71;
}

.list-group.list-group-horizont.has-sqm-units .list-group-item .d-inline-block,
.list-group.list-group-horiz.has-sqm-units .list-group-item .d-inline-block,
.list-group.list-group-vert.has-sqm-units .list-group-item .d-inline-block {
  //@extend .wpct-37;
  //@extend .wpx-90;
  @extend .wpx-92;
  @extend .min-wpx-92;
  //@extend .wpx-104;
}

ul.list-group-dashed {
  list-style-type: none;
}
ul.list-group-dashed li::before {
  content: "– ";
}
div.list-item-container {
  @extend .border;
  @extend .rounded;
  @extend .rounded-2;
  //border: 1px solid #d3e6d2;
  border-color: #d3e6d2 !important;
}
div.list-item-container > div {
  @extend .pad-y-0\.25rem;
  @extend .pad-x-0\.25rem;
  @extend .pad-x-sm-0\.5rem;
  @extend .pad-x-md-1rem;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 1051; /* Above Bootstrap's modal overlay */

  /* Other styles */
  display: none; /* Hidden by default */
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.overlay.active {
  display: block; /* Show overlay */
  opacity: 0.8;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes blink {
  1%, 3% {opacity: 0;}
  2%, 4% {opacity: 1;}
}

.blinking-div {
  animation: blink 10s linear infinite;
  border: 1px solid red;
}

.toast-container {
  @extend .position-fixed;
  @extend .bottom-0;
  @extend .end-0;
  @extend .p-4;
  @extend .hpx-300;
  background-color: transparent;
  //border: 1px solid red;
}

/* remove number input's arrows */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.footer-contact-links {
  @extend .text-light;
  @extend .text-decoration-none;
}

.footer-contact-links:hover, .list-group-item:hover .footer-contact-links {
  color: rgba(var(--bs-link-hover-color-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: underline !important;;
}

/* preloading of review images */
#preloadedImages, #loadingSpinner
{
  width: 0;
  height: 0;
  display: inline;
  background-image: url("bs-icons/9204c1c7771de8c914ab.svg");
  background-image: url("assets/images/pics/rvw-20191229_111014.jpg");
  background-image: url("assets/images/pics/rvw-AAWF9035.JPG");
  background-image: url("assets/images/pics/rvw-DPFW9030.JPG");
  background-image: url("assets/images/pics/rvw-FSYG1495.JPG");
  background-image: url("assets/images/pics/rvw-IMG_0817.JPG");
  background-image: url("assets/images/pics/rvw-IMG_1191.JPG");
  background-image: url("assets/images/pics/rvw-IMG_1379.JPG");
  background-image: url("assets/images/pics/rvw-IMG_2526.JPG");
  background-image: url("assets/images/pics/rvw-IMG_3290.JPG");
  background-image: url("assets/images/pics/rvw-IMG_4938.JPG");
  background-image: url("assets/images/pics/rvw-OSVJE1220.JPG");
  background-image: url("assets/images/pics/rvw-xtra-1.png");
  background-image: none;
}
